<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fullertonfinnovatica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dashboard"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Initial"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Create"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PhoneVerify"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Networking.NetworkingMain"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Transaction.Transaction"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Networking.NetworkingDetailsScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inventory.InventoryAdd"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inventory.InventoryView"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inventory.InventoryCategories"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Transaction.TransactionView"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Networking.NetworkingShopsViewMap"
            android:configChanges="orientation"
            android:label="@string/title_activity_networking_shops_view_map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVEJlSiNVvpBAZh8nL1v_-ZsIHL6ZKUcQ" />

        <activity android:name=".Analytics.AnalyticsMain" />
        <activity
            android:name=".Accounts.AccountsMain"
            android:label="@string/title_activity_accounts_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Accounts.AccountsEntry"></activity>
    </application>

</manifest>